.board {
    display: grid;
    grid-template-rows: 280px 280px 280px;
    grid-template-columns: 280px 280px 280px;
    justify-content: center;
}


.box {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: left;
  justify-content: left;
  color: #fff;
  padding: 10px;
  margin: 10px;
}

.create-product {
    justify-content: center;
    display: flex;
    padding-bottom: 40px;
}
